workflows-examples/crossmint-nodes-examples.json
{
    "name": "My workflow",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "6ad177c8-a02c-438a-b7de-aeee00f3bf9e",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "createWallet",
          "ownerType": "email",
          "ownerEmail": "manuel@paella.dev"
        },
        "type": "CUSTOM.crossmintNode",
        "typeVersion": 1,
        "position": [
          192,
          0
        ],
        "id": "a0aa1dbb-dbaa-442c-8f94-65950acafe71",
        "name": "Get or Create Wallet",
        "credentials": {
          "crossmintApi": {
            "id": "pQETd69keNeYGtci",
            "name": "Crossmint account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getBalance",
          "balanceLocatorType": "email",
          "balanceWalletEmail": "manuel@paella.dev"
        },
        "type": "CUSTOM.crossmintNode",
        "typeVersion": 1,
        "position": [
          560,
          0
        ],
        "id": "ab14415a-5939-4589-bce3-13d196757f75",
        "name": "Get balance",
        "credentials": {
          "crossmintApi": {
            "id": "pQETd69keNeYGtci",
            "name": "Crossmint account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getWallet",
          "getWalletLocatorType": "email",
          "getWalletEmail": "manuel@paella.dev"
        },
        "type": "CUSTOM.crossmintNode",
        "typeVersion": 1,
        "position": [
          368,
          0
        ],
        "id": "6a3df393-1913-432e-bfea-4befc56e84fc",
        "name": "Get wallet",
        "credentials": {
          "crossmintApi": {
            "id": "pQETd69keNeYGtci",
            "name": "Crossmint account"
          }
        }
      },
      {
        "parameters": {
          "resource": "checkout",
          "productIdentifier": "https://www.amazon.com/Celsius-Sparkling-Berry-Fluid-Ounce/dp/B001PN0HOU",
          "recipientEmail": "manuel@paella.dev",
          "recipientName": "Manuel Paella",
          "addressLine1": "744 SW 10th",
          "city": "Miami",
          "state": "FL",
          "postalCode": "33130",
          "paymentMethod": "ethereum-sepolia",
          "payerAddress": "={{ $('Get wallet').item.json.address }}"
        },
        "type": "CUSTOM.crossmintNode",
        "typeVersion": 1,
        "position": [
          768,
          0
        ],
        "id": "15c82482-25c6-417d-a605-63d0afa2b2ae",
        "name": "Find product",
        "credentials": {
          "crossmintApi": {
            "id": "pQETd69keNeYGtci",
            "name": "Crossmint account"
          }
        }
      },
      {
        "parameters": {
          "resource": "checkout",
          "operation": "purchaseProduct",
          "serializedTransaction": "={{ $json.order.payment.preparation.serializedTransaction }}",
          "paymentMethod": "ethereum-sepolia",
          "payerAddress": "={{ $('Get wallet').item.json.address }}"
        },
        "type": "CUSTOM.crossmintNode",
        "typeVersion": 1,
        "position": [
          976,
          0
        ],
        "id": "c7fed8ee-c58a-49fc-ad72-ae4afd5a5585",
        "name": "Purchase product",
        "credentials": {
          "crossmintApi": {
            "id": "pQETd69keNeYGtci",
            "name": "Crossmint account"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get or Create Wallet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get or Create Wallet": {
        "main": [
          [
            {
              "node": "Get wallet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get balance": {
        "main": [
          [
            {
              "node": "Find product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get wallet": {
        "main": [
          [
            {
              "node": "Get balance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find product": {
        "main": [
          [
            {
              "node": "Purchase product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "b938699b-2afa-4db5-87fb-b027a89f1ea3",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "41a06fe6b2ed299ea808b59c408ee1da81d2a19e619828c3930d8d1554f4b813"
    },
    "id": "0zq3NFM1AJdqPzwJ",
    "tags": []
  }